
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  display: flex;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  justify-content: center;
  align-items: center;

}

.secret-text a {
  display: inline-block;
  vertical-align: middle;
}

.mySecrets {
  display: inline;
}

.delete-button {
  background-color: darkred;
  border-color: #fff;
}

a.secret-text:hover {
  background-color: darkred;
}

a.secret-text:link { text-decoration: none; }

a.secret-text:visited { text-decoration: none; }

a.secret-text:hover { text-decoration: none; }

a.secret-text:active { text-decoration: none; }
